
<nav id="primary-nav" class="no-js">
	<ul>
		<li><a href="">All Photos</a></li>
		<!--<li> <a href="">Departments</a>
			<div class="sub">
				<ul class="links"> 
                  @Html.Action("primaryNav", "Navigation", new {id = 1})  
				</ul>
			</div>
		</li>
        <li> <a href="">Men's Athletics</a>
			<div class="sub">
				<ul class="links"> 
                   @Html.Action("primaryNav", "Navigation", new {id = 2}) 
			    </ul>
			</div>
		</li>
        <li> <a href="">Women's Athletics</a>
			<div class="sub">
				<ul class="links"> 
                   @Html.Action("primaryNav", "Navigation", new {id = 3}) 
			    </ul>
			</div>
		</li>
        <li> <a href="">Staff</a>
			<div class="sub">
				<ul class="links">
                    @Html.Action("primaryNav", "Navigation", new {id = 4})
				</ul>
			</div>
         </li>
        @Html.Action("Navigation", "Nav")-->
		
		<li><a href="">Drop Box</a></li>
        <li><a href="">Search</a></li>
	</ul>
</nav>