@model IEnumerable<MvcPhoto2.Models.EmailCart>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>




<table>
    <tr>
        <th>
            link
        </th>
        <th>
            photoShootName
        </th>
        <th>
            netId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.photoShootName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.netId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Deletethis", new { id = item.id })
        </td>
    </tr>
}


</table>
